/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.main {
	display: flex;
}
 aside,
 nav {
	flex-basis: 20vw;
	height: 50vh;
	padding: 5px;
 }

 article {
	flex-grow: 1;
	padding: 5px;
 }

 header,
 footer {
	padding: 20px;
 }